body
    $background($white)
    $font($workSans)
    color $gray3
    overflow-x hidden
    margin 0

    a
        text-decoration none

    input
        appearance none
        background-clip padding-box
        outline none
