// Global colors
$black  = #000
$gray1  = #111
$gray2  = #222
$gray3  = #333
$gray4  = #444
$gray5  = #555
$gray6  = #666
$gray7  = #777
$gray8  = #888
$gray9  = #999
$grayA  = #AAA
$grayB  = #BBB
$grayC  = #CCC
$grayD  = #DDD
$grayE  = #EEE
$grayF  = #F5F5F5
$white  = #FFF

// Custom colors
$blue   = #42B3EB
$green  = #1D9A90
$pink   = #FF2D55
$red    = #FC1C49
$yellow = #F6D42A

// Main colors
$firstColor = #0073BC
$secondColor = #FF2D55

// Font sizes
$xxxLarge = 48px
$xxLarge  = 32px
$xLarge   = 24px
$larger   = 19px
$large    = 18px
$big      = 17px
$regular  = 16px
$medium   = 14px
$small    = 13px
$smaller  = 12px
$xSmall   = 10px
$xxSmall  = 9px
$xxxSmall = 8px

// Font family
$openSans      = 'OpenSans'
$oswald        = 'Oswald'
$poppins       = 'Poppins'
$workSans      = 'WorkSans'

// Font Weights
$light  = 100
$normal = 400
$bold   = 700
$heavy  = 900
