@import '_dependencies'

// Header styles
@import './components/Global/Header/Header'
@import './components/Global/Header/Logo'
@import './components/Global/Header/MainNav'

// Content styles
@import './components/Global/Content/Content'

// Footer styles
@import './components/Global/Footer/Footer'

.Header
    $Header()

    .Logo
        $Logo()

    .MainNav
        $MainNav()

.Content
    $Content()

.Footer
    $Footer()

